.auth__section {
  padding: 100px 0;
  text-align: center;
}

.auth__nav {
  font-size: 24px;
}

.auth__nav__item {
  text-decoration: none;
  padding: 10px 20px;
  color: #000;
}

.auth__nav .active {
  border-bottom: 2px solid rgb(40, 47, 112);
  color: rgb(40, 47, 112);
}


.auth__form__section {
  margin-top: 70px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__form input{
  text-align: center;
  max-width: 500px;
  margin: 15px auto;
  font-size: 18px;
  padding: 10px;
  width: 320px;
}

.auth__btn {
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 8px;
}

.auth__btn:hover {
  background: rgb(187, 211, 255);
}

.auth__btn:active {
  background: rgb(255, 255, 255);
}

.select__role {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}