.LocationPage {
  padding-top: 50px;
}

.mapSection {
  padding: 50px 0px;
  text-align: center;
}

.mapSection h1{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.mapSection h2{
  font-size: 28px;
  margin-bottom: 20px;
}

 .marker__info button{
  margin: 5px 10px;
 }
